name: Burp Extensions Suite CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: 'maven'

    - name: Set up Python 3
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Build and Test Java Extensions
      run: |
        ./scripts/build-all.sh
        cd extensions/param-fuzzer && mvn test
        cd ../../extensions/custom-decoder && mvn test

    - name: Run Python Tests
      run: |
        ./scripts/test-all.sh

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: burp-extensions-jars
        path: |
          extensions/param-fuzzer/target/*-jar-with-dependencies.jar
          extensions/custom-decoder/target/*-jar-with-dependencies.jar
